<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394320124760-ojh1228u1lbit6o55aum37ksilio3qf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394320124760-ojh1228u1lbit6o55aum37ksilio3qf7</string>
	<key>API_KEY</key>
	<string>AIzaSyDq3pxevgJZjcyeuH9h4_uU1rl1rCSpewE</string>
	<key>GCM_SENDER_ID</key>
	<string>394320124760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>madina.amankeldinova.final-project</string>
	<key>PROJECT_ID</key>
	<string>sneakersshop-c80a5</string>
	<key>STORAGE_BUCKET</key>
	<string>sneakersshop-c80a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394320124760:ios:df60b7529d7b01ffff232d</string>
</dict>
</plist>